#wallpaper-selector {
    background: transparent;
    color: #edf2f7;
    font-family: "JetBrainsMono Nerd Font";
}
#wallpaper-selector .card {
    border: none;
    border-radius: 0;
    background: transparent;
}
