@import "wallpaper-colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

window {
    background-color: @wp_11111b;
}

button {
    background-color: @wp_11111b;
    border-style: solid;
    border-radius: 30px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;

    min-width: 180px;
    margin: 90px 35px;
}

button:hover {
    background-color: @wp_cdd6f4;
    color: @wp_11111b;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:active {
    background-color: @wp_cdd6f4;
    color: @wp_11111b;
    border-radius: 30px;
}

#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png");
}

#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png");
}

#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png");
}

#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png");
}

#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png");
}
